<div class= "jumbotron">
		<h1> About Us </h1>
		<p> This is more about me, than about us. Questbook is a narccistic social networking site.</p>
	</div>
	<div class= "jumbotron">
		<h2>Re-Defining Ego-Centric</h2>
		<p> Instead of like most websites where people post photos about themselves and things that they are doing, Questbook allows people to create accounts and post photos about Quest and things involving what Quest is doing </p>
		<br>
		<h2>Get Involved!!!</h2>
		<p> I am currently looking for funding. All money earned will be spent on myself and nothing but myself, you have our solemn promise. </p>
		<p> Please find me on Venmo, donations are not tax-deductable </p>
		<p> For more information, contact me <%= mail_to "qhenkart@gmail.com", "Here", class: "btn btn-success" %>
</div>