<div class= "jumbotron">
		<h1> About Us </h1>
		<p> This is more about me, than about us. Questbook is a narccistic social networking site.</p>
		<p> Click on the buttons below to learn more!!</p>
	</div>

<%= render 'layouts/modals' %>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#egoCentric">
  Re-Defining Egocentric!
</button>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#getInvolved">
  Get Involved!
</button>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#whoIs">
  But, Who Is Quest?
</button>


		