<div class= "jumbotron center">
	<h1>Questbook</h1>
		<% if user_signed_in? %>
			<p> Welcome to the Members Area </p>
			<% else %>
			<p>Welcome to the Questbook!</p>
			<p> Click here to</p> <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>  <br>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-sm" %>
			<% end %>
</div>
